.titles h1 a {
  text-decoration: none;
  font-size: 55px;
  font-family: 'Lato' sans-serif;
  font-weight: 300;
  color: #E80f2B;
}

h1 {
  padding: 70px 15px 25px 0;
  float: left;
}

.titles h2 {
  font-size: 28px;
  font-weight: 300;
  position: absolute;
}

.secondary-header h2 {
  float: right;
}

nav {
  clear: both;
}


body {
  font-family: 'Lato' sans-serif;
  padding-left: 55px;
}



li {
  display: inline-block;
  padding-bottom: 55px;
  font-size: 20px;
  padding-right: 10px;
  text-decoration: underline;
  color: #C3C3C3;
  font-weight: 100;
  letter-spacing: 2px;
}

.date {
  color: #C3C3C3;
  font-size: 35px;
  font-weight: 300;
  padding-bottom: 25px;
  padding-top: 10px;
}

.titles a {
  font-size: 35px;
  font-weight: 300;
  text-decoration: none;
  color: #000;
}

.titles {
  padding-bottom: 20px;
}

.blog-post {
  padding-top: 20px;
  color: black;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;
  max-width: 650px;

}

img {
  max-width: 650px;
}

.links {
  text-align: right;
  max-width: 650px;
  padding-top: 15px;
}

.links a {
  color: red;
  font-size: 1.25em;
  text-decoration: none;
}
